* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #757575;
}

/* Shared Styles */
.text-dark {
  color: #181818;
}
.text-dark-50 {
  color: #474747;
}
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: rgb(253, 110, 10);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  padding: 18px 28px;
  border: 0;
  color: #fff;
}
.btn-outline {
  background: rgb(255, 255, 255);
}

/*************************** 
Header 
****************************/
header {
  display: flex;
  background: rgb(255, 248, 243);
}
.navbar {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.navbar h3 {
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
}
.navbar nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  align-items: center;
}
.navbar nav ul li {
  list-style-type: none;
}
.navbar nav ul li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
}
